@import "tailwindcss";

@theme {
  --font-logo: "Asimovian", sans-serif;
  --animate-wave: wave 560ms ease-in-out;

  @keyframes wave {
    0%,
    100% {
      transform: rotate(0);
    }
    20%,
    60% {
      transform: rotate(-25deg);
    }
    40%,
    80% {
      transform: rotate(10deg);
    }
  }
}

@layer base {
  html {
    @apply snap-y snap-mandatory scroll-smooth;
  }
}
