@import "tailwindcss";

@theme {
  --font-logo: "Asimovian", sans-serif;
  --animate-wave: wave 560ms ease-in-out;

  @keyframes wave {
    0%,
    100% {
      transform: rotate(0);
    }
    20%,
    60% {
      transform: rotate(-25deg);
    }
    40%,
    80% {
      transform: rotate(10deg);
    }
  }

  @keyframes fade-down {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@layer components {
  .fade-down {
    animation: fade-down 500ms ease-out forwards;
    animation-delay: var(--fade-in-delay, 0ms);
    opacity: 0;
  }
}

@layer base {
  html {
    @apply snap-y snap-mandatory scroll-smooth;
  }
}
